.thumbnail {
    width: 200px;
    height: 300px;
    overflow: hidden;
    flex-shrink: 0;
}
.thumbnail:hover {
    transform: scale(1.4,1.4);
    transition: transform 0.35s;
    overflow: hidden;
}